footer{
    background-color:#8c8c8c42;
    padding: 1rem;
    list-style-type: none;
    h6{
    color: $main-color;
    font-family:$font; 
    }
     

    .row{
        text-align: center;

        .p-footer{
            max-width: 90%;
        }
        .menu-inferior {
           
            a{
                list-style-type: none;
                text-decoration: none;
                color: black; 
            }
        }
        .categories:hover{
            background-color: $main-color;
            border-radius: 5%;
        }
        .contacto {
            a{
                color: black;
            }
        }
    }
     .contact:hover{
            background-color: $main-color;
            border-radius: 5px;
        }
    .arrepentimiento:hover{
        background-color: $main-color;
        border-radius: 5px;

    }
    .quienes-footer{
        color: black;
        text-decoration: none;
    }
    
}