/*=============================================
=                   INDEX                     =
=============================================*/
.carousel-inner img {
    width: 100%; /* Llena el ancho */
    height: auto; /* Conserva proporción natural */
    object-fit: contain; /* Evita zoom o recorte */
    display: block;
    margin: 0 auto;
}

.carousel-inner {
    height: auto; /* Que se adapte a la imagen */
    max-height: 72vh; /* Limita el alto del carrusel */
    width: 100%;
    overflow: hidden; /* Por si alguna imagen se pasa */
}
.destacados{
    font-family: $font-2;
    margin-top: 0.5em;
    display: flex;
    font-size: 30px;
    
    justify-content: center;
}
.button{
    background-color:$main-color;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 7px 15px;
    cursor: pointer;

    &:hover{
        background-color: #eece42;
    }
}
.fox{
    margin-top: 6rem;

    .img-fox{
        border-radius: 2px;
        width: 680px;
        height:auto;
    }
    .info-fox{
        font-size: 28px;
    } 
    @keyframes scaleAnimation {
        100% {
          transform: scale(1.05);
        }
      }
      
      .info-fox:hover {
        animation: scaleAnimation 1s forwards;
      }   
}

/*=============================================
=                   QUIENES SOMOS             =
=============================================*/
  .img-nosotros{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/*=============================================
=                   SERVICIOS                 =
=============================================*/
.img-servicio{
    max-width: 100%;
    height: 100%;
    border: 3px ridge black;
}
/*=============================================
=                   UBICACIÓN                 =
=============================================*/
.logo-mapa{
    border-radius: 4rem;
}