/*=============================================
=                   INDEX                     =
=============================================*/
<<<<<<< HEAD

.carousel-inner img {
    height: 60vh;
    object-fit: cover;
    /* Asegura que las imágenes cubran el contenedor correctamente */
}

.carousel-inner {
    height: 60vh;
    /* Establece la altura del carrusel*/
    min-height: 40vh;
    width: auto;
}

.destacados {
=======
.hero{
    height: 400px;
    width: auto;
}
.destacados{
>>>>>>> 57df20c0bd7115a495671c03421fa26c18cabcb5
    font-family: $font-2;
    margin-top: 0.5em;
    display: flex;
    font-size: 30px;
<<<<<<< HEAD

    justify-content: center;
}

.button {
    background-color: $main-color;
=======
    
    justify-content: center;
}
.button{
    background-color:$main-color;
>>>>>>> 57df20c0bd7115a495671c03421fa26c18cabcb5
    color: black;
    border: none;
    border-radius: 10px;
    padding: 7px 15px;
    cursor: pointer;

<<<<<<< HEAD
    &:hover {
        background-color: #eece42;
    }
}

.fox {
    margin-top: 6rem;

    .img-fox {
        border-radius: 2px;
        width: 680px;
        height: auto;
    }

    .info-fox {
        font-size: 28px;
    }

    @keyframes scaleAnimation {
        100% {
            transform: scale(1.05);
        }
    }

    .info-fox:hover {
        animation: scaleAnimation 1s forwards;
    }
=======
    &:hover{
        background-color: #eece42;
    }
}
.fox{
    margin-top: 6rem;

    .img-fox{
        border-radius: 2px;
        width: 680px;
        height:auto;
    }
    .info-fox{
        font-size: 28px;
    } 
    @keyframes scaleAnimation {
        100% {
          transform: scale(1.05);
        }
      }
      
      .info-fox:hover {
        animation: scaleAnimation 1s forwards;
      }   
>>>>>>> 57df20c0bd7115a495671c03421fa26c18cabcb5
}

/*=============================================
=                   QUIENES SOMOS             =
=============================================*/
<<<<<<< HEAD
.img-nosotros {
=======
  .img-nosotros{
>>>>>>> 57df20c0bd7115a495671c03421fa26c18cabcb5
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/*=============================================
=                   SERVICIOS                 =
=============================================*/
<<<<<<< HEAD
.img-servicio {
=======
.img-servicio{
>>>>>>> 57df20c0bd7115a495671c03421fa26c18cabcb5
    max-width: 100%;
    height: 100%;
    border: 3px ridge black;
}
<<<<<<< HEAD

/*=============================================
=                   UBICACIÓN                 =
=============================================*/
.logo-mapa {
    border-radius: 4rem;
}
=======
/*=============================================
=                   UBICACIÓN                 =
=============================================*/
.logo-mapa{
    border-radius: 4rem;
}


>>>>>>> 57df20c0bd7115a495671c03421fa26c18cabcb5
