@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');

$font: "Poetsen One", sans-serif;
$font-2: "Montserrat", sans-serif;
$main-color: #ddb500;
